@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  width: 100%;
  height:60px;  
  display: flex;
  justify-content: space-between;
  background-color: #979696;
  padding: 0 5px;
  border-bottom: 1px solid #e7e7e7;
}

#barraPesquisa {
  background-color: #ffffff;
  width: 40%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-radius: 40px;
}

#login{
  width: 150px;
  font-size: 20;
  padding: 0 10px;
  border: black 1px solid;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#login:hover {
  background-color: #d9d9d9;
  cursor: pointer;
  box-shadow: #171717 1px 1px 3px;
}