.containner-projeto{
  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.containner-projeto:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

.titulo-projeto{
  font-size: 20px;
  display: flex;
  align-items: start;
}