.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 6px 12px;
  width: 500px;
  transition: box-shadow 0.5s;
}

.search-bar:hover {
  box-shadow: 0 10 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: 0.5s;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 4px;
  background: transparent;
}

.search-bar button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}
